# Revisión obligatoria (lineamiento 05). Reemplace por los equipos / arquitectos responsables.
*                       @juanmiguelrojas
/docs/lineamientos/     @juanmiguelrojas
/estandares/            @juanmiguelrojas
/proyectos/volarte/     @juanmiguelrojas
